body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}



a {
    text-decoration: none;
    color: black;
}


header {
    background-color: #f8ca76;
    padding: 20px;
}



footer {
    background-color: orange;
}

main {
    padding: 50px;
}





@media (max-width: 1920px) {
    * {
        text-align: right;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }

    #menu-h p {
        max-width: 420px;
        list-style-type: none;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding: 10px;
    }

    #menu-h ul {
        max-width: 420px;
        list-style-type: none;
        padding: 0px;
        background-color: orange;
        border-radius: 100px;

    }

    #menu-h ul li {
        display: inline;
    }

    #menu-h ul li img {
        padding: 0px;
        width: 63px;
        max-width: 100%;
        height: 63px;

    }

    #menu-h ul li p {
        padding-left: 25px;
    }

    #menu-h ul li a {
        color: black;
        padding: 20px;
        display: inline-block;
        text-decoration: none;
        transition: background .3s;
    }


    #menu-h ul li a:hover {
        background-color: #f8ca76;
    }

    #menu-h ul li:first-child {
        float: left;
    }



    #div_menu {
        display: flex;
        align-items: self-end;
    }


    #footer {
        background-color: orange;
    }

    #footer div {
        display: flex;
        justify-content: center;
    }

    #footer div img {
        width: 100px;
        padding: 5px;
    }

    #carouselExampleIndicators {
        width: 900px;
        height: 685px;
        margin: auto;
        box-shadow: 0px 15px 10px gray;
        background-color: orange;
    }

    .carousel-inner {}

    .carousel-item {
        width: 900px;
        height: 700px;
        text-align: center;
        box-shadow: 0px 15px 10px gray;
    }

    .row {
        width: 900px;
        height: 700px;
        display: flex;
        padding-right: 470px;
    }

    .carousel-indicators li {
        background-color: black;
        padding: 2px;
    }

    .carousel-indicators .active {
        background-color: white;
        padding: 2px;
    }
}




@media (max-width: 528px) {
    * {
        text-align: right;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }

    #menu-h ul {
        max-width: 280px;
        list-style-type: none;
        padding: 0px;
        background-color: orange;
        border-radius: 100px;
    }

    #menu-h ul li {
        font-size: 10px;
        display: inline;
    }

    #menu-h ul li img {
        padding: 0px;
        width: 43px;
        max-width: 100%;
        height: 43px;

    }

    #menu-h ul li a {
        color: black;
        padding: 15px;
        display: inline-block;
        text-decoration: none;
        transition: background .3s;
    }


    #menu-h ul li a:hover {
        background-color: #f8ca76;
    }

    #menu-h ul li:first-child {
        float: left;
    }

    #div_menu {
        display: flex;
        align-items: center;
    }


    #footer {
        background-color: orange;
    }

    #footer div {
        display: flex;
        justify-content: center;
    }

    #footer div img {
        width: 80px;
        padding: 5px;
    }



    #carouselExampleIndicators {
        width: 410px;
        height: 315px;
        margin: auto;
        box-shadow: 0px 15px 10px gray;
        background-color: orange;
    }

    .carousel-inner {}

    .carousel-item {
        width: 410px;
        height: 320px;
        text-align: center;
        box-shadow: 0px 15px 10px gray;
    }

    .row {
        width: 410px;
        height: 320px;
        display: flex;
        justify-content: center;
    }

    .carousel-indicators li {
        background-color: black;
        padding: 1px;
    }

    .carousel-indicators .active {
        background-color: white;
        padding: 1px;
    }

    .carousel-indicators {
        margin: auto;
        justify-content: center;
    }
}





.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 70px;
    width: 70px;
    background-size: 100%, 100%;

}