@font-face {
    font-family: 'Chewy';
    src: url('Chewy/Chewy-Regular.ttf') format('truetype');
}

* {
    text-align: right;
    margin: 0 auto;
    padding: 0;
}

.informativo {
    text-align: center;
}

body {
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Chewy !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1 1 0;
    border: 0;
}

header {
    background-color: #f8ca76;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
}

header p {
    font-family: Chewy !important;
}

footer {
    background-color: orange;
    width: 100%;
}

main {
    padding: 50px;

}

/* Matheus- Comecei */

.dogs {
    margin-bottom: 10px;
}

.dogs h1 {
    padding: 10px;
    text-align: center;
    color: #FA9449;
}

.dogs img {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}


.card-dog {
    margin: 5px 0px 25px 0px;
    padding:5px 0px 25px 0px ;
    background-color: #FA9449;
    border-radius: 20px;
    padding: 10px;
    min-width:150px ;
    max-width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    min-height: 200px;
    max-height: 630px;
    text-align: center;
}


.container h2 {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container p {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a.btn  {
    display: flex;
    width: 145px;
    height: 44px;
    flex-shrink: 0;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 40px; 
    color: #FA9449;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
}

.img-dog{
    max-width: 100%;
    min-width: 80%;
    margin:10px 10px 10px 5px;
    max-height: 55%;
    
}

.info{
    text-align: center;
}

.info h2, .info p {
    margin: 0; /* Remove margens padrão do h2 e do p */
    color: white;
}

.titulo {
    text-align: center;
    display: flex;
}

#menu-h ul li a.active {
    color: #FFF;
}




@media (max-width: 1920px) {


    #menu-h p {
        max-width: 420px;
        list-style-type: none;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding: 10px;
    }

    #menu-h ul {
        max-width: 400px;
        list-style-type: none;
        padding: 0px;
        background-color: #FA9449;
        border-radius: 100px;
    }

    #menu-h ul li {
        display: inline;
    }

    #menu-h ul li img {
        padding: 0px;
        width: 63px;
        max-width: 100%;
        height: 63px;

    }

    #menu-h ul li p {
        padding-left: 25px;
    }

    #menu-h ul li a {
        color: black;
        padding: 20px;
        display: inline-block;
        text-decoration: none;
        transition: background .3s;
    }


    #menu-h ul li a:hover {
        color: white;
    }

    #menu-h ul li:first-child {
        float: left;
    }


    #div_menu {
        display: flex;
        align-items: self-end;
    }

    section {
        grid-template-columns: repeat(4, 338px); 
        grid-gap: 100px; 
        justify-content: center;
    }

    #main p img {
        width: 800px;
        height: 600px;
        display: flex;
        padding-left: auto; 
        box-shadow: 0px 15px 10px gray;
    }

    #div_menu {
        display: flex;
        align-items: center;
    }

    #footer div {
        display: flex;
        justify-content: center;
    }
    
    footer img{
        width: 100%;
    }

    #footer {
        background-color: #FA9449;
    }

    #footer div {
        display: flex;
        justify-content: center;
    }

    #footer div img {
        width: 100px;
        padding: 5px;
    }
}

@media (max-width: 1280px){

    section {
        grid-template-columns: repeat(3, 338px); 
        grid-gap: 50px; 
        justify-content: center;
    }

    section .container{
        height: 597px;
    }

    footer {
        margin-top: 4900px; /* Ou ajuste conforme necessário */
    }

    #main p img {
        width: 800px;
        height: 600px;
        display: flex;
        padding-left: auto; 
        box-shadow: 0px 15px 10px gray;
    }

    #div_menu {
        display: flex;
        align-items: center;
    }

    #footer div {
        display: flex;
        justify-content: center;
    }

    
    footer img{
        width: 100%;
    }

    #footer {
        background-color: #FA9449;
    }

    #footer div {
        display: flex;
        justify-content: center;
    }

    #footer div img {
        width: 100px;
        padding: 5px;
    }
}

@media (max-width: 500px) {

    .card-dog {
        margin: 5px 0px 25px 0px;
        padding:5px 0px 25px 0px ;
        background-color: #FA9449;
        border-radius: 20px;
        padding: 10px;
        min-width:100px ;
        max-width: 280px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        min-height: 200px;
        max-height: 580px;
        text-align: center;
    }

    
    main {
        padding: 30px;
        height: auto;
        width: 100%;
    }

    p {
        width: 100%;
        justify-content: center;
        font-size: 12px;
    }




    #menu-h ul {
        max-width: 280px;
        list-style-type: none;
        padding: 0px;
        background-color: #FA9449;
        border-radius: 100px;
    }

    #menu-h ul li {
        font-size: 10px;
        display: inline;
    }

    #menu-h ul li img {
        padding: 0px;
        width: 45px;
        max-width: 100%;
        height: 45px;
    }

    #menu-h ul li a {
        color: black;
        padding: 15px;
        display: inline-block;
        text-decoration: none;
        transition: background .3s;
    }


    #menu-h ul li a:hover {
        color: white;
    }

    #menu-h ul li:first-child {
        float: left;
    }

    #div_menu {
        display: flex;
        align-items: center;
    }

    #footer {
        background-color: #FA9449;
    }

    #footer div {
        display: flex;
        justify-content: center;
    }

    footer {
        margin-top: 8700px; /* Ou ajuste conforme necessário */
    }

    #footer div img {
        width: 800px;
        padding: 5px;
    }

    #main p img {
        width: 400px;
        height: 310px;
        display: flex;
        padding-left: auto; 
        box-shadow: 0px 15px 10px gray;
    }   

    #footer {
        background-color: #FA9449;
    }

    #footer div {
        display: flex;
        justify-content: center;
    }

    #footer div img {
        width: 80px;
        padding: 5px;
    }
}

