@font-face {
    font-family: 'Chewy';
    src: url('Chewy/Chewy-Regular.ttf') format('truetype');
}

* {
    text-align: right;
    margin: 0 auto;
    padding: 0;

}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Chewy !important;
}

body main {
    flex: 1 1 0;
    border: 0;
}



a {
    text-decoration: none;
    color: black;
}


header {
    background-color: #f8ca76;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
}

header p {
    font-family: Chewy !important;
}



footer {
    background-color: orange;
    width: 100%;
}

main {
    padding: 50px;
    
}

@media (max-width: 1920px) {
    * {
        text-align: right;
        margin: 0 auto;
        padding: 0;
        
    }

    

    #menu-h p {
        max-width: 420px;
        list-style-type: none;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding: 10px;
    }

    #menu-h ul {
        max-width: 400px;
        list-style-type: none;
        padding: 0px;
        background-color: #FA9449;
        border-radius: 100px;

    }

    #menu-h ul li {
        display: inline;
    }

    #menu-h ul li img {
        padding: 0px;
        width: 63px;
        max-width: 100%;
        height: 63px;

    }

    #menu-h ul li p {
        padding-left: 25px;
    }

    #menu-h ul li a {
        color: black;
        padding: 20px;
        display: inline-block;
        text-decoration: none;
        transition: background .3s;
    }


    #menu-h ul li a:hover {
        color: white;
    }

    #menu-h ul li:first-child {
        float: left;
    }



    #div_menu {
        display: flex;
        align-items: self-end;
    }


    #footer {
        background-color: #FA9449;
    }

    #footer div {
        display: flex;
        justify-content: center;
    }

    #footer div img {
        width: 100px;
        padding: 5px;
    }
    .Links {
        padding: 10px;
    }
    .Links h1{
        margin-top: 50px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .social {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .social img {
        display: flex;
        text-align: center;
        justify-content: center;
        width: auto;
        height: 50px;
        margin: 50px;
        margin-bottom: 0px;
    }
    .time{
        display: flex;
        margin: auto;
    }
    .time img{
        border: 10px solid orange;
        width: 100%;
        height: 90%;
    }
    .texto{
        width: 100%;
        text-align: justify;
        justify-content: center;
        line-height: 30px;
        font-size: 17px;
    }
    .subtitulo h3{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .subtitulo h5{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
}
@media screen and (max-width: 500px) {

    

    main {
        padding: 20px;
        height: auto;
        width: 100%;
    }

    

    .social a {
        padding-top: 10px;
        width: 100px;
        height: 35px;
        padding-left: 18px;
    }

    .social a img {
        width: 100px;
    }
    

    #menu-h ul {
        max-width: 280px;
        list-style-type: none;
        padding: 0px;
        background-color: #FA9449;
        border-radius: 100px;
    }

    #menu-h ul li {
        font-size: 10px;
        display: inline;
    }

    #menu-h ul li img {
        padding: 0px;
        width: 45px;
        max-width: 100%;
        height: 45px;

    }

    #menu-h ul li a {
        color: black;
        padding: 15px;
        display: inline-block;
        text-decoration: none;
        transition: background .3s;
    }


    #menu-h ul li a:hover {
        color: white;
    }

    #menu-h ul li:first-child {
        float: left;
    }

    #div_menu {
        display: flex;
        align-items: center;
    }

    .container {
        margin: auto;
        padding: 0px;
        
    }
    .Links h1{
        margin-top: 50px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .social {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .social img {
        display: flex;
        width:  160%;
        height: 80%;
        margin: 10px 0;
        margin-left: -20px;
    }
    .instagram{
        margin-left: 50px;
        margin-right: 50px;
    }
    .time{
        display: flex;
        margin: auto;
    }
    .time img{
        border: 5px solid orange;
        width: 100%;
        height: 100%;
    }
    .texto{
        width: 100%;
        font-size: 14px;
        text-align: justify;
        justify-content: center;
        line-height: 25px;
    }
    .subtitulo h3{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .subtitulo h5{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    #footer {
        background-color: #FA9449;
    }

    #footer div {
        display: flex;
        justify-content: center;
    }

    #footer div img {
        width: 80px;
        padding: 5px;
    }
}